.about {
  background-image: url('../../images/bg-about.png');
  background-repeat: no-repeat;
  background-size: cover;

  &__inner {
    display: flex;
    justify-content: space-around;
    margin-bottom: 120px;

    @media screen and (max-width: 1030px) {
      margin-bottom: 50px;
    }
    @media screen and (max-width: 800px) {
      justify-content: center;
    }
  }
  &__image {
    margin-top: -93px;
  }
  &__img {
    border: 5px solid rgba(255, 255, 255, .5);
    border-radius: 19px;
    box-shadow: 0 10px 30px rgba(0,0,0,.19), 0 6px 30px rgba(0,0,0,.23);

    @media screen and (max-width: 910px) {
      margin-left: 20px;
    }
    @media screen and (max-width: 800px) {
      display: none;
    }
  }
  &__content {
    margin-top: 84px;
    margin-bottom: 84px;
    padding-left: 30px;

    @media screen and (max-width: 800px) {
      margin: 20% 0;
      padding-left: 0;
    }
  }
  &__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #000000;
    margin-bottom: 24px;

    & span {
      border-bottom: 4px solid $basic-color;
    }
  }
  &__info {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 16px;
    max-width: 350px;
  }
  &__text {
    margin-bottom: 32px;
    max-width: 480px;
  }
  &__btn {
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #F4AE26;
    padding: 10px 24px;
    background-color: #2F2105;
    border-radius: 33px;
    transition: all .3s;
    cursor: pointer;

    &:hover {
      background-color: #fff;
      color: #2F2105;
    }
  }
}