.header {
  background-image: url('../images/header.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 120vh;
  min-height: 970px;

  @media screen and (max-width: 910px) {
    height: 100vh;
    min-height: 720px;
  }

  &__top {
    display: flex;
    padding-top: 35px;
    justify-content: space-between;
    margin-bottom: 82px;

    @media screen and (max-width: 910px) {
      padding-top: 10px;
      margin-bottom: 50px;
    }
  }
  &__content-items {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 910px) {
      justify-content: center;
    }
  }
  &__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #2F2105;
    width: 490px;
    margin-bottom: 24px;
    padding-top: 58px;

    @media screen and (max-width: 1080px) {
      font-size: 40px;
      line-height: 64px;
      width: 400px;
    }
    @media screen and (max-width: 1000px) {
      font-size: 36px;
      line-height: 55px;
      width: 400px;
    }
    @media screen and (max-width: 950px) {
      font-size: 32px;
      line-height: 50px;
      width: 350px;
    }
    @media screen and (max-width: 910px) {
      font-size: 48px;
      line-height: 72px;
      width: 490px;
      padding: 0;
    }
    @media screen and (max-width: 520px) {
      font-size: 32px;
      line-height: 44px;
      width: 320px;
    }
  }
  &__text {
    width: 390px;
    margin-bottom: 32px;

    @media screen and (max-width: 1000px) {
      width: 300px;
    }
    @media screen and (max-width: 950px) {
      width: 270px;
    }
    @media screen and (max-width: 910px) {
      width: 390px;
    }
    @media screen and (max-width: 520px) {
      width: 270px;
    }
  }
  &__content-box {
    display: flex;
    margin-bottom: 60px;
  }
  &__content-btn {
    padding: 12.5px 32px 12.5px 32px;
    background-color: #2F2105;
    border-radius: 35px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px; 
    display: flex;
    transition: .3s;

    &:hover {
      background-color: #fff;
      color: #2F2105;
    }
  }
  &__content-btn-img {
    margin-left: 6px;
    padding: 4px 5px;
    background-color: #FF902B;
    border-radius: 50%;

    &:before {
      font-size: 12px;
    }
  }
  &__content-link {
    color: #F4AE26;
    margin-left: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    transition: .3s;

    &:hover {
      color: #2F2105;
    }
  }
  &__content-left {
    @media screen and (max-width: 520px) {
      padding: 0 10px;
    }
  }
  &__content-right {
    background-image: url(../images/header-coffee.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 420px;
    margin-right: 32px;
    height: 419px;

    @media screen and (max-width: 910px) {
      display: none;
    }
  }
  &__content-name,
  &__content-rating,
  &__content-price {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    padding: 11px 0;
    color: #2F2105;
    background-color: #fff;
    border-radius: 42px;
    border: 6px solid rgba(255, 255, 255, .5);
    background-clip: padding-box;
    box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);
  }
  &__content-name {
    font-weight: 600;
    width: 283px;
    margin-top: 25px;
    margin-left: -75px;
  }
  &__content-rating {
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    width: 150px;
    margin-left: 301px;
    margin-top: -6px;
    padding: 11px 30px;
  }
  &__content-price {
    font-weight: 600;
    width: 160px;
    margin-top: 167px;
    margin-left: 15px;
  }
}